{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'lightbox2/dist/css/lightbox.min.css' %}">

<style>
    #banner{
        background-image: url("{{ event.featured_image.image.url }}");
    }
</style>
{% endblock styles %}

{% block title %}
{{ event.title }}
{% endblock title %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 col-12">
                <!-- <h2 class="h3 text-primary">{{ event.title }}</h2> -->
                <p class="lead">
                    {{ event.description }}
                </p>
            </div>
            <div class="col-md-6 col-12">
                {% if event.video %}
                    <video src="{{ event.video.video.url }}" controls class="img-fluid"></video>
                {% elif event.featured_image %}
                    <img src="{{ event.featured_image.image.url }}" alt="{{ event.title }}">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="">
        <div class="cols-4">
            
            {% for photo in event.photos.all %}
                <a class="img-fill obs fade-in" href="{{ photo.photo.image.url }}" data-lightbox="eventgallery">
                    <img src="{{ photo.photo.image.url }}" alt="{{ event.title }} photo" class="cover">
                </a>
            {% endfor %}
                
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'lightbox2/dist/js/lightbox-plus-jquery.min.js' %}"></script>
{% endblock scripts %}
    